<!DOCTYPE html>
<html>

    <head>
        <title>Expenses</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <style type="text/css">
          a
          {
            font-family : "Amatic SC", sans-serif ;
            font-size: 20px ;
          }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-family:Amatic SC , sans-serif;" href="/">Expenses Tracker</a>
            </div>
            <div class="collapse navbar-collapse" style="font-family:Amatic SC , sans-serif ;">
                <ul class="nav navbar-nav navbar-right">
                <li><a style="font-family:Amatic SC , sans-serif;" href="/addExpenses">Record an Expense</a></li>
                 <li><a style="font-family:Amatic SC , sans-serif;" href="/categoryChart">Category Charts</a></li>
                <li><a style="font-family:Amatic SC , sans-serif;" href="/monthChart">Monthly Chart</a></li>
                  <% if(!currentUser){ %>
                        <li><a style="font-family:Amatic SC , sans-serif;" href="/login">Login</a></li>
                        <li><a style="font-family:Amatic SC , sans-serif;" href="/register">Sign Up</a></li>
                     <% } else { %>
                       <li><a  style="font-family:Amatic SC , sans-serif;" href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a style="font-family:Amatic SC , sans-serif;" href="/logout">Logout</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
    </nav>




<style>
{
  margin: 0;
  padding: 0;
  font-family: "Amatic SC" , sans-serif;
  box-sizing: border-box;
}
body,html {
  font-family: "Amatic SC" , sans-serif;
    height: 400%;
    margin: 0;
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
table {
  text-align: center;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #000000;
  width: 500px;
  margin: 50px auto;
  border-radius: .25rem;
  font-family: "Amatic SC" , sans-serif;
}
thead tr:first-child {
  background: #000000;
  color: #fff;
  border: none;
  font-family: "Amatic SC" , sans-serif;
  text-align: center;
}
th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
  font-family: "Amatic SC" , sans-serif;
  text-align: center;
}
thead tr:last-child th {
  border-bottom: 3px solid #ddd;
  font-family: "Amatic SC" , sans-serif;
  text-align: center;
}
tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
  font-family: "Amatic SC" , sans-serif;
  text-align: center;
}
tbody tr:last-child td {
  border: none;
  text-align: center;
}
tbody td {
  border-bottom: 1px solid #ddd;
  background: #FFFFFF ;
  font-family: "Amatic SC" , sans-serif;
  text-align: center;
}
td:last-child {
  text-align: left;
  padding-left: 10px;
  font-family : "cursive" ;
  background: #FFFFFF ;
  font-family: "Amatic SC" , sans-serif;
  text-align: center;
}
h1
{
font-family: "Amatic SC" , sans-serif;
font-color: #000000;
font-size: 50px ;
}

h4
{
font-family: "Amatic SC" , sans-serif;
font-color: #000000;
}
</style>


<head>
<title>Recorded Expenses</title>




<% 
var j=f=mr=a=my=ju=jl=ag=s=o=n=d=0;

for (var i = 0; i < expenseName.length; i++) 

{ 
      
    
  var string = date[i];
  var parts = string.split("-");
  if(parts[1] == '01')
  {
    j=1;
  }
  else if(parts[1] == '02')
  {
    f=1;
  }
  else if(parts[1] == '03')
  {
    mr=1;
  }
  else if(parts[1] == '04')
  {
    a=1;
  }
  else if(parts[1] == '05')
  {
    my=1;
  }
  else if(parts[1] == '06')
  {
    ju=1;
  }
  else if(parts[1] == '07')
  {
    jl=1;
  }
  else if(parts[1] == '08')
  {
    ag=1;
  }
  else if(parts[1] == '09')
  {
    s=1;
  }
  else if(parts[1] == '10')
  {
    o=1;
  }
  else if(parts[1] == '11')
  {
    n=1;
  }
  else if(parts[1] == '12')
  {
    d=1;
  }
    
  
} 

%> 



<center><h2 style="font-family:Amatic SC , sans-serif ; color: #000000" >Recorded Expenses</h2></center>
</head>
<br><br>





<%if(j==1) { %>
<body>
  <center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">January</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '01'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>

<% } %>



<%if(f==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">February</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '02'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>



<%if(mr==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">March</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '03'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 
</tbody>
</table>
<% } %>


<%if(a==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">April</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '04'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 
</tbody>
</table>
<% } %>


<%if(my==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">May</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '05'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>


<%if(ju==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">June</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '06'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>



<%if(jl==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">July</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '07'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>



<%if(ag==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">August</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '08'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>



<%if(s==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">September</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '09'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>



<%if(o==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">October</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '10'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>


<%if(n==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">November</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '11'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>


<%if(d==1) { %>
<center><h4 style="font-family:Amatic SC , sans-serif ; color: #000000">December</h4></center>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
        <th>Delete Expense</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <%
        var string = date[i];
        var parts = string.split("-");
        if(parts[1] == '12'){
      %>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td>$<%= cost[i] %></td>
      <td>
        <form action="/showExpenses" method= "POST">
          <input type="hidden" name="expenseName" value= "<%= expenseName[i]%>" >
          <input type="hidden" name="type" value= "<%= type[i]%>" >
          <input type="hidden" name="date" value= "<%= date[i]%>" >
          <input type="hidden" name="cost" value= "<%= cost[i]%>" >
          <button class="w3-btn w3-black" class="btn btn-primary">Delete Expense</button>
        </form>
      </td>
    </tr>    
   <% }} %> 

</tbody>
</table>
<% } %>


</body>
</html>