<!DOCTYPE html>
<html>

    <head>
        <title>Favourites</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <style type="text/css">
          a
          {
            font-family : "Marker Felt", fantasy; ;
            font-size: 20px ;
          }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="font-family:Marker Felt, fantasy;" href="/">Expenses Tracker</a>
            </div>
            <div class="collapse navbar-collapse" style="font-family:Marker Felt, fantasy;">
                <ul class="nav navbar-nav navbar-right">
                <li><a style="font-family:Marker Felt, fantasy;" href="/addExpenses">Record an Expense</a></li>
                  <% if(!currentUser){ %>
                        <li><a style="font-family:Marker Felt, fantasy;" href="/login">Login</a></li>
                        <li><a style="font-family:Marker Felt, fantasy;" href="/register">Sign Up</a></li>
                     <% } else { %>
                       <li><a  style="font-family:Marker Felt, fantasy;" href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a style="font-family:Marker Felt, fantasy;" href="/logout">Logout</a></li>
                        <li><a style="font-family:Marker Felt, fantasy;" href="/categoryChart">Charts</a></li>
                  <% } %>
                </ul>
            </div>
        </div>
    </nav>




<style>
{
  margin: 0;
  padding: 0;
  font-family: "Marker Felt", fantasy;
  box-sizing: border-box;
}
body,html {
  font-family: "Marker Felt", fantasy;
    height: 100%;
    margin: 0;
    background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #000000;
  width: 500px;
  margin: 50px auto;
  border-radius: .25rem;
  font-family: "Marker Felt", fantasy;
}
thead tr:first-child {
  background: #000000;
  color: #fff;
  border: none;
  font-family: "Marker Felt", fantasy;
}
th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
  font-family: "Marker Felt", fantasy;
}
thead tr:last-child th {
  border-bottom: 3px solid #ddd;
  font-family: "Marker Felt", fantasy;
}
tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
  font-family: "Marker Felt", fantasy;
}
tbody tr:last-child td {
  border: none;
}
tbody td {
  border-bottom: 1px solid #ddd;
  background: #FFFFFF ;
  font-family: "Marker Felt", fantasy;
}
td:last-child {
  text-align: left;
  padding-left: 10px;
  font-family : "cursive" ;
  background: #FFFFFF ;
  font-family: "Marker Felt", fantasy;
}
h1
{
font-family: "Marker Felt", fantasy;
  font-size: 50px ;
}
</style>


<head>
<title>Recorded Expenses</title>
<center><h1>Recorded Expenses</h1></center>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Name of the Expense</th>
        <th>Type of Expense</th>
        <th>Date</th>
        <th>Amount Spent</th>
      </tr>
    </thead>
  <tbody>

<% for (var i = 0; i < expenseName.length; i++) { %>
    <tr>
      <td><%= expenseName[i] %></td>
      <td><%= type[i] %></td>
      <td><%= date[i] %></td>
      <td><%= cost[i] %></td>
    </tr>    
   <% } %> 

</tbody>
</table>

</body>
</html>